@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');  /* Importando uma URL de fonte do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


 *{
margin: 0;
padding: 0;
border: 0;
}


.body {
height: 100vh; 
box-sizing: border-box;
background-image: url(./imagens/fundo_tela.jpg) ;
color: aqua;
}
.conteudo_principal{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10% 10%;
}

.section_principal {
display: flex;
padding: 2% 0% 0% 5%;
width: 600px;
flex-direction: column;
gap:80px;
}

.titulo_principal {
font-family: "Krona one",sans-serif;
font-size: 40px;
font-weight: 600;
color: #FFEB00;
}
.pontuacao{
color: #ffffff;
font-size: 60px;
font-weight: 600;
}
.paragrafo {
font-family: "Monteserra",sans-serif;
font-size: 24px;
font-weight: 600;

}
.cabecalho__principal {
padding: 5% 0% 0% 5%;


}

.cabecalho {
color:#ffeb00;
font-family: "Krona one",sans-serif;
font-weight: 600;
font-size: 26px;

}
.roda_principal {
display: flex;
flex-direction: row;
width: 800px;
gap:70px;
padding: 5% 0% 5% 15%;
}

.paragrafo_rodape {
font-family: "montserrat",sans-serif;
font-weight: 300;
font-size: 18px;
}