@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');  /* Importando uma URL de fonte do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {

--cor-primaria: #696969;
--cor-secundaria: #000000 ;
--cor-terciaria: #ff45ff ;
--cor-fundo-botão:#FFEBCD;
--cor-ancor-primario:#008080;
--cor-ancora-secundario:#B834B8;
--cor-rodape:#505050;
--cor-primaria-cabecalho: #2C3E50;
--cor-branco:#ffffff;

--fonte-primaria:"Krona one", sans-serif ;
--fonte-secundaria:"Monteserrat", sans-serif;



}


 * {
margin: 0;
padding: 0;
border: 0;
} 

.body__principal {
/* height: 100vh;    */
box-sizing: border-box;
background-color: var(--cor-ancor-primario);
color: var(--cor-secundaria);
}

.conteudo {         /* MAIN */ 
display: flex;
justify-content: space-between;
align-items: center;
padding: 5% 10%;
gap: 82px;


}

.conteudo__secsion {
display: flex;
flex-direction: column;
gap: 35px;
width: 50%;
}


.titulo__um {
font-family: var(--fonte-primaria);
font-size: 1.5rem;
font-weight: 600;
}
.Strong__titulo {
color: var(--cor-terciaria);   


}

.paragrafo__principal {
font-family: var(--fonte-secundaria);
font-size: 1.5rem;
font-weight: 600;
}

.link__principal {
display: flex;
justify-content: space-between;
flex-direction: column;
text-align: center;
gap: 32px;
align-items: center;
}

.subtitulo {
font-family: var(--fonte-primaria);
font-size: 1.5rem;
font-weight: 400;

}

.link__ancora {
display: flex;
text-align: center;
justify-content: center;
gap: 16px;
font-family: var(--fonte-secundaria);
font-weight: 600;
font-size: 1.5rem;
width: 50%;
padding: 15px 0px;
text-decoration: none;
border: var(--cor-secundaria);
border-radius: 8px;
border: 3px solid var(--cor-terciaria);
background-color: var(--cor-fundo-botão);
color: var(--cor-terciaria);

}

.link__ancora:hover{
background-color: var(--cor-ancor-primario);
color:var(--cor-secundaria);
font-size: 1.5rem;
}

.foto_perfil{
width: 40%;
}
.rodape {
 display: flex;
flex-direction: column;
align-items: center;   
background-color:var(--cor-rodape)  ;
color: var(--cor-terciaria);
padding: 3% 0% 0% 4%;
font-family: var(--fonte-secundaria);
font-size: 1.5rem;
text-align: center;
gap:10px;
}
.link__rodape {
font-family: var(--fonte-primaria);
font-weight: 400;
font-size: 1.5rem;
text-decoration: none;
border: 2px solid var(--cor-rodape) ;
border-radius: 6px;
}

.link__rodape:hover {
color: var(--cor-secundaria);

}
 
.cabecalho {
display: flex;
padding: 2% 0% 0% 5%;

}

.cabecalho__nav {

background-color: var(--cor-primaria-cabecalho);
display: flex;
justify-content: space-evenly;
border: 2px solid var(--cor-secundaria);
border-radius: 10px;
width: 90%;
height: 80px;
gap: 80px;

}

.link__cabecalho {
display: flex;
align-items: center;
font-family: var(--fonte-primaria);
font-size: 1.25rem;
font-weight: 600;
text-decoration: none;
color: var(--cor-secundaria); 

}

.link__cabecalho:hover {
color: var(--cor-branco);


}


.paragrafo__principal__about {
font-family: var(--fonte-primaria);
font-size: 1.12rem;
font-weight: 400;

}

@media(max-width:800px) {
    .conteudo{
flex-direction: column-reverse;

    }


}